<nb-layout>
  
  <nb-layout-header subheader>
    <button nbButton  (click)="toggle()" status="primary"><nb-icon icon="menu-outline"></nb-icon></button>
  </nb-layout-header>

  <nb-sidebar>
    <nb-actions style="margin-bottom: 20px;" size="tiny">
      <nb-action icon="power"></nb-action>
      <nb-action icon="home"></nb-action>
      <nb-action icon="person"></nb-action>
      <nb-action icon="search"></nb-action>
    </nb-actions>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  
</nb-layout>

